@import "_login-vars";

token-auth-login-form {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-color: $login-background-color;
  background-size: cover;
  color: $login-text-color;
  display: block;
  position:fixed;
  height:100%;
  left:0;
  top:0;
  width:100%;

  .login-header {
    background-color: $login-header-background-color;
    box-shadow: 1px 0 1px;
    height: 70px;
    padding-top: 8px;

    img {
      @include center-block;

      max-height: 40px;
    }
  }

  .login-form {
    @include center-block;

    background: $login-header-background-color;
    border-top: $login-border-top;
    margin-top: 85px;
    padding: 3rem;
    width: 400px;

    .welcome-text {
      color: black;
      font-size: 20px;
      margin-bottom: 25px;
    }

    .required-label {
      display: none;
    }

    .login-input {
      margin: 5px 0 15px 0;
    }

    button,
    input {
      border-radius: 0;
      margin-top: 4px;
      width: 100%;
    }

    input {
      &.ng-invalid {
        border-color: $login-background-color;
      }

      &.ng-invalid + .required-label.submitted {
        border-radius: 0;
        display: inline-block;
        font-size: 12px;
      }
    }

    button {
      background-color: $login-btn-go;
      border: none;
      height: 40px;

      &.btn-success:hover {
        background-color: $login-btn-go;
      }
    }

    .alert-status .alert {
      border-radius: 0;
      padding: 5px 0;
    }

    .contact {
      @include center-block;

      color: $login-text-color;
      cursor: pointer;
      padding: 15px 0 0 0;
      text-decoration: none;
      width: 115px;

      .question-mark {
        @include circle(17px);

        border: 1px solid $login-text-color;
        display: inline-block;
        text-align: center;
      }

      .contact-tech {
        display: inline-block;
        line-height: 19px;
        margin-left: 7px;
      }
    }
  }
}
